@media only screen and (max-width : 1400px)
	.right-bg
		height: 950px

	.right-bg__img
		width: 190vw
		height: 1080px
		background-size: 2750px 1550px

	.right-bg__content
		margin-top: 400px

	.radar__tabs .tab
		font-size: 25px
		line-height: 35px

	.control__tabs
		width: 65%
		margin-left: auto
		margin-right: auto

	.block-scroll__title
		font-size: 30px
		line-height: 40px
		img
			margin-bottom: 20px

	.block-scroll__description,
	.battery__description
		font-size: 18px
		line-height: 30px

	.battery
		padding: 100px 0

	.cta-text__title
		padding: 100px 0
		min-height: 100vh
		display: flex
		align-items: center
		justify-content: center





@media only screen and (max-width : 1220px)
	.wrapper
		width: 992px

	.nav-pc
		width: 100%

	.header__title
		font-size: 45px
		line-height: 55px

	.catItem__item
		width: calc(100% / 4 - 40px)

	.footer__inner-left
		width: 70%

	.footer__inner-right
		width: 30%

	.footer__menu
		margin-right: 20px
		max-width: calc(30% - 20px)

	.products__item-img
		height: 200px

	.products__item-title
		font-size: 22px
		line-height: 28px

	.tech__title
		padding-top: 40px
		padding-bottom: 90px

	.tech__sizes img
		max-width: 100%

	.single__box
		max-width: 100%
		width: 70%

	.single__sidebar
		width: calc(30% - 20px)
		margin-left: 20px

	.single__content-title
		font-size: 34px
		line-height: 48px
		padding-top: 20px
		padding-bottom: 40px

	.single__content
		padding: 25px

	.landing__header
		height: calc(100vh - 150px)

	.landing__header-title
		font-size: 55px

	.features
		padding-bottom: 100px

	.features__title
		font-size: 30px
		line-height: 46px

	.features2__description,
	.features2__section-subtitle
		font-size: 23px
		line-height: 42px

	.left-bg__img
		width: 1900px
		top: -50px
		right: 60%
		height: 800px

	.left-bg__content
		width: 50%
		margin-left: 45%
		margin-top: 430px

	.landing .section__title
		font-size: 45px
		line-height: 60px

	.left-bg
		height: auto
		padding-bottom: 150px

	.x4
		padding-top: 100px
		padding-bottom: 100px

		.section__title
			text-align: center

		.section__subtitle
			padding-top: 30px

	.radar
		padding-top: 100px
		padding-bottom: 100px

	.block-scroll__item + .block-scroll__item
		margin-top: 100px

	.navigation__popup
		width: 100%

	.menu-item-product:hover .navigation__popup
		height: 200px

	.navigation__products-item
		width: calc(100% / 4 - 30px)
		margin-left: 15px
		margin-right: 15px

	.block-scroll .wrapper-fluid
		padding-left: 75px
		padding-right: 75px










@media only screen and (max-width : 1024px)
	.wrapper
		width: 768px
		padding-left: 15px
		padding-right: 15px

	.catItems__items
		margin-left: 0
		margin-right: 0

	.catItem__item
		margin-left: 15px
		margin-right: 15px
		width: calc(100% / 2 - 30px)
		margin-bottom: 35px

	.footer__inner-left
		width: 60%

	.footer__inner-right
		width: 40%

	.category__item
		width: calc(100% / 3 - 20px)

	.landing__header .landing__header-content
		padding-top: 50px

	.landing__header-title
		font-size: 45px
		line-height: 55px
		margin-bottom: 50px

	.features
		padding-bottom: 75px

	.features__title
		font-size: 26px
		line-height: 40px

	.features2
		padding-bottom: 75px

	.features2__title, .features2__section-title
		padding-top: 0
		font-size: 45px
		line-height: 55px

	.features2__img
		margin-bottom: 75px

	.landing .section__title
		font-size: 35px
		line-height: 50px

	.landing .section__subtitle
		font-size: 26px
		line-height: 36px

	.text-content .section__title
		padding-top: 15px
		padding-bottom: 75px

	.right-bg__content
		margin-top: 520px

	.modular,
	.radar,
	.control,
	.block-scroll,
	.battery
		padding: 75px 0

	.propellers
		padding-bottom: 75px

	.x4
		padding: 75px 0

	.x4-video .features__items
		padding-top: 75px

	.features__item
		margin-bottom: 50px

	.control__tabs
		width: 90%

	.control__tabs .tabs .tab
		font-size: 18px
		line-height: 24px

	.sowing .wrapper
		padding-bottom: 75px

	.battery__inner .section__title
		margin-top: 0

	.cta-text__title
		padding: 0

	.cta-text__title
		font-size: 45px
		line-height: 65px

	.cta-form__title
		padding-top: 75px
		font-size: 45px
		line-height: 65px

	.cta-form__body
		padding-top: 75px

	.cta-form
		padding-bottom: 75px

	.ip67 .section__title
		padding-bottom: 75px












@media only screen and (max-width : 992px)
	.wrapper
		width: 768px

	.features2__description, .features2__section-subtitle
		font-size: 20px
		line-height: 28px

	.x4-video .section__title img
		max-width: 190px

	.landing .section__subtitle
		font-size: 20px
		line-height: 28px

	.radar__tabs .tabs
		width: 100%
		justify-content: center

	.radar__tabs .tab
		padding-left: 25px
		padding-right: 25px

	.block-scroll .wrapper-fluid
		padding-left: 15px
		padding-right: 15px

	.block-scroll__item-left
		width: 60%

	.block-scroll__item-right
		width: 40%

	.block-scroll__title img
		max-width: 190px

	.block-scroll__item:nth-child(2n)
		.block-scroll__item-left
			width: 40%
			padding-right: 0

		.block-scroll__item-right
			width: 60%
			padding-left: 15px

	.battery__left
		padding-right: 30px

	.cta-form form
		max-width: 80%






@media only screen and (max-width : 768px)
	.wrapper
		width: 100%
		padding-left: 15px
		padding-right: 15px

	.nav-pc-wrap
		position: fixed
		top: 0
		left: 0
		z-index: 99
		.wrapper
			padding-left: 0
			padding-right: 0

	.nav-pc
		border-radius: 0
		background: #F0EFEE
		height: 45px
		z-index: 100

	.navigation
		display: none

	.nav-hamburger
		display: flex

	.info-container
		padding-top: 70px

	.page-header
		height: 250px

	.page-header__title
		font-size: 34px
		line-height: 40px

	.products__item
		width: calc(50% - 10px)
		margin-right: 10px

	.footer__inner
		flex-wrap: wrap
		margin-bottom: 35px

	.footer__inner-left
		width: 100%
		margin-bottom: 35px

	.footer__inner-right
		width: 100%
		justify-content: flex-start

	.category__item
		width: calc(100% / 2 - 20px)

	.page404
		flex-direction: column

	.page404__left
		width: 100%
		order: 2

	.page404__right
		width: 100%
		padding-left: 0
		text-align: center
		margin-bottom: 35px

	.page404__button
		max-width: 90%
		margin-right: auto
		margin-left: auto

	.contacts__header
		padding-top: 70px
		padding-bottom: 50px

	.contacts__title
		font-size: 80px
		line-height: 1.2

	.contacts__item
		width: 50%

	.features__left
		width: 100%
		padding-right: 0

	.features__right
		width: 100%
		padding-left: 0

	.features__item
		text-align: center

	.features__item:before
		left: calc(50% - 30px)

	.left-bg__img
		width: 1000px
		top: -50px
		right: 120%
		height: 430px

	.left-bg__content
		width: 70%
		margin-left: 30%
		margin-top: 180px

	.left-bg
		padding-bottom: 75px

	.right-bg__img
		width: 100%
		height: 450px
		background-size: cover
		top: -50px
		left: auto
		right: -150px
		transform: translateX(0)

	.right-bg__content
		width: 90%
		margin-top: 240px

	.right-bg
		height: auto
		padding-bottom: 75px

	.landing .section__title
		font-size: 30px
		line-height: 45px

	.x4-video .section__title img
		max-width: 140px

	.radar__tabs .tab
		font-size: 22px

	.control__tabs .tabs .tab
		font-size: 14px
		line-height: 20px

	h4.section__subtitle br
		display: none

	.block-scroll__item
		flex-direction: column

	.block-scroll__item-left
		width: 100%
		order: 2
		.block-scroll__img-item
			max-width: 80%
			margin-left: auto
			margin-right: auto
			margin-bottom: 35px

	.block-scroll__item-right
		width: 100%
		order: 1
		.block-scroll__img-item
			max-width: 80%
			margin-left: auto
			margin-right: auto
			margin-bottom: 35px


	.block-scroll__item:nth-child(2n)
		.block-scroll__item-left
			width: 100%
			order: 1
			.block-scroll__img-item
				max-width: 80%
				margin-left: auto
				margin-right: auto
				margin-bottom: 35px

		.block-scroll__item-right
			width: 100%
			order: 2
			.block-scroll__img-item
				max-width: 80%
				margin-left: auto
				margin-right: auto
				margin-bottom: 35px

	.battery__inner
		flex-direction: column

	.battery__left
		width: 100%
		margin-bottom: 75px

	.battery__right
		width: 100%

	.battery__explain
		width: 100%











@media only screen and (max-width : 750px)
	.img-blocks
		flex-wrap: wrap

	.img-blocks__item
		width: 100%
		margin-bottom: 10px
		&:last-child
			margin-bottom: 0





@media only screen and (max-width : 576px)
	.products__item
		width: 100%
		margin-right: 0

	.tech__item-left
		padding-right: 0
		width: 100%

	.tech__item-right
		width: 100%
		padding-left: 0

	.tech__sizes img
		margin-left: auto
		margin-right: auto

	.tech__title
		font-size: 28px
		line-height: 40px

	.footer__menus
		flex-wrap: wrap

	.footer__menu
		max-width: 50%
		width: 50%
		margin-bottom: 35px

	.footer__menu-title
		font-size: 18px
		line-height: 24px

	.footer__menu-item a
		font-size: 16px
		line-height: 30px

	.single__inner
		flex-direction: column

	.single__box
		width: 100%
		margin-bottom: 40px

	.single__sidebar
		width: 100%
		margin-left: 0

	.single__content img
		max-width: 100%

	.single__content-title
		font-size: 24px
		line-height: 32px
		padding-bottom: 30px

	.tech__header
		padding: 15px

	.landing__header-title
		font-size: 30px
		line-height: 45px

	.features2__title, .features2__section-title
		font-size: 30px
		line-height: 45px

	.features2__description
		padding-top: 15px

	.left-bg__img
		top: -140px

	.left-bg__content
		width: 80%
		margin-left: 20%

	.right-bg__img
		height: 380px
		right: -30px

	.landing .section__title
		font-size: 26px
		line-height: 36px

	.landing .section__subtitle
		font-size: 18px
		line-height: 26px

	.x4-video .section__title img
		display: block
		margin-bottom: 10px

	.radar__tabs .tab
		font-size: 18px
		line-height: 22px
		text-align: center

	.control__tabs .tabs .tab
		padding: 0 5px 20px 5px

	.cta-text__title
		font-size: 26px
		line-height: 36px
		min-height: 400px

	.cta-form label
		font-size: 18px
		line-height: 24px

	.cta-form form
		max-width: 95%

	.cta-form button[type=submit]
		margin-top: 45px

	.tech__navigation ul
		text-align: right
		justify-content: flex-end

	.tech__navigation ul li
		display: block
		width: 100%
		padding: 0 0 10px

	.tech-wrap
		padding-top: 50px

	.propellers__tabs .tabs
		width: 100%

	.propellers__tabs .tab
		width: 50%
		font-size: 18px
		line-height: 24px












@media only screen and (max-width : 480px)
	.category__item
		width: calc(100% - 20px)

	.single__content
		padding: 15px







@media only screen and (max-width : 370px)
	.single__content-title
		font-size: 20px
		line-height: 28px

	.control__tabs .tabs .tab
		font-size: 12px

	.cta-form__title
		padding-top: 50px
		font-size: 35px
		line-height: 55px

	.cta-form__body
		padding-top: 50px