.htaccess
wp-config.php
#robots.txt

*.zip
*.sql
*.log
.DS_Store
.idea
package-lock.json

wp-admin/
wp-includes/
wp-content/backups/
wp-content/advanced-cache.php
wp-content/cache/
wp-content/themes/twenty*/
wp-content/themes/bridge
wp-content/themes/kastell
wp-content/themes/north-wp

wp-content/themes/savoy/app/img/video1.mp4


node_modules/